# Node
node_modules/
packages/*/node_modules/

# Env
.env
.env.*
.env.local

# Next.js / build outputs
.next/
out/
dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Locks and package manager files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Docker
.dockerignore
